<!doctype html>
{% load staticfiles %}

<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        {% block extra_meta_tags %}{% endblock extra_meta_tags %}

        <title>{% block site_title %}{% endblock site_title %}</title>

        {% block extra_head %}{% endblock extra_head %}

        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
        {% block extra_css %}{% endblock extra_css %}

        <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
        <script src="{% static 'js/bootstrap/bootstrap.min.js' %}"></script>
    </head>
    <body>
        <header>
            {% block header %}
                <nav>
                    {% block nav %}{% endblock nav %}
                </nav>
            {% endblock header %}
        </header>

        {% block content %}{% endblock content %}

        <footer>
            {% block footer %}{% endblock footer %}
        </footer>

        <script src="{% static 'js/custom.js' %}"></script>
        {% block extra_js %}{% endblock extra_js %}
    </body>
</html>
